---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Frontmatter, sortDateDescending } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = sortDateDescending(
	allPosts.filter((post) => post.frontmatter.draft != true)
).slice(0, 3);
---

<div
	class="bg-[url('/images/book-reviews/openbooks.jpg')] h-80 flex justify-center items-center bg-cover"
>
	<h1
		class="text-center bg-gradient-to-r from-amber-700 to-amber-900 bg-clip-text text-transparent text-5xl mb-[0.7em] font-bold font-sans"
	>
		Hi there, I'm Babbling Books
	</h1>
</div>
<BaseLayout title="Home" activeLink="home">
	<section class="flex flex-col w-full mb-15">
		<div class="flex flex-col flex-wrap flex-grow z-30"></div>
	</section>

	<p class="text-center my-20">
		Welcome to my blog, where I'll be discussing everything books. When I'm
		not busy being a law student or messing around on Canva/Pinterest you
		can find me reading everything I can get my hands on. Follow along to
		read my reviews and see how I've rated each book as well as suggestions
		for what you should read next. You'll also be able to find some articles
		I've written on everything that fascinates me as well as some of my
		original writings. Click on the headings to navigate your way around.
		Happy Readings!
	</p>

	<section>
		<h2
			class="mx-auto text-center mb-8 bg-amber-900 text-transparent bg-clip-text text-4xl border-b-2 border-amber-50 font-semibold w-fit"
		>
			Sections:
		</h2>

		<div class="flex flex-wrap flex-col justify-center gap-12">
			{posts.map((post) => <ArticleCard content={post} />)}
		</div>
	</section>
</BaseLayout>
